*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
}

/* .css-mdtqof:hover{
  background-color: teal;
  color: white;
} */
.active .css-mdtqof{
  background-color: #008080;
  color: white;
}

#myTasksBox::-webkit-scrollbar{
  display: none;
}